.flex-column {
  flex-direction: column; 
}

.register {
  min-height: 65vh;
  /* display: flex; */
  background-color: rgb(15, 127, 34);
}

/* .register .container {
  display: flex; 
}
 */

/* 
.eyes {
  width: 108px; 
  height: 32px; 
  background-image: url(../img/eyes_open-cream.svg);
} */

#eyes {
  position: relative;
    left: -40%;
    margin-bottom: 40px;
}

#hand {
  position: relative;
  top: -10px;
  left: -65px;
  align-self: flex-end; 
}

.form {
  position: relative;
  left: -5%;
  margin: 48px 24px;
  top: 20px; 
}

h2 {
  font-size: 25px;
  color: #FEFEF3; 
} 

.input {
  background: none;
  border: 0;
  border-bottom: 1px solid #FEFEF3;
  width: 57%;
  padding: 8px 0;
  font-size: 24px;
  outline: none;
  box-sizing: border-box; 
  color: #FEFEF3; 
  text-align: center; 
}

.input::placeholder {
  color: #FEFEF3; 
}

.footer {
  min-height: 35vh;
  display: flex;
  background-color: #111118;
  text-align: center;   
}

.button {
  position: relative;
  display: inline-block;
  margin-top: 120px; 
  background-color: var(--blue);
  border: solid 2px #000;
  top: -20px;
  color: #000 !important; 
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1;
  font-size: 40px;
  padding: 6px 12px;
  min-width: 120px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  pointer-events: auto;
  background-color: #fff;
  color: #000 !important;
  transition-delay: 200ms; 
}

.menu__bottom, .menu-item__bottom {
  position: absolute;
  font-size: 3.25vw; 
  pointer-events: auto;
  color: #fff;
  padding-bottom: 2px;
  mix-blend-mode: difference; 
}

.menu__bottom, .email-link {
  bottom: 40px;
  left: 30px; 
}

.menu__bottom, .instagram-link {
  top: 40px; 
  right: 30px; 
}

.menu__bottom, .facebook-link {
  bottom: 40px; 
  right: 30px; 
} 

















