/* ==== sec blocks here ==== */

.shape {
  position: absolute; 
}

.circle {
  height: 93px;
  width: 93px;
  background-color: #B7EEE2; 
  border-radius: 100%;
  border-color: #B7EEE2; 
}

.circle-two {
  height: 93px;
  width: 93px;
  background-color: #FFB5AF; 
  border-radius: 100%;
  border-color: #FFB5AF; 
}


.square {
  background-color: rgb(134, 215, 200);
  width: 80px;
  height: 80px;
  /* this will contain the background image inside the edges of our box */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 65px 80px 65px;
  border-color: transparent transparent #FFB5AF transparent;
}


/* heart here */
.heart {
  width: 100px;
  height: 90px;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #FFB5AF;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}


/* triangle-bottom-right */
.triangle-bottom-right {
  width: 0;
  height: 0;
  border-bottom: 100px solid #86D7C8;
  border-left: 100px solid transparent;
}


/* squiggle */
.squiggle {
  width: 303px;
  height: 63px;
  background-image: url(../img/squiggle.svg);
  /* this will contain the background image inside the edges of our box */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* circle nth-of-type here */

.circle:nth-of-type(1) {
  left: 5%;
  top: 20%;
}

.circle:nth-of-type(2) {
  left: 20%;
  top: 5%;
}

.circle:nth-of-type(3) {
  left: 20%;
  top: 50%;
}

.circle:nth-of-type(4) {
  left: 4%;
  top: 80%;
}

.circle:nth-of-type(5) {
  left: 70%;
  top: 5%;
}

.circle:nth-of-type(6) {
  left: 75%;
  top: 55%;
}

.circle:nth-of-type(7) {
  left: 85%;
  top: 30%;
} 

.circle:nth-of-type(8) {
  left: 80%;
  top: 80%;
}


/* square nth-of-type here */

.square:nth-of-type(1) {
  left: 5%;
  top: 2%;
}

.square:nth-of-type(2) {
  left: 8%;
  top: 25%;
}

.square:nth-of-type(3) {
  left: 3%;
  top: 60%;
}

.square:nth-of-type(4) {
  left: 10%;
  top: 90%;
}

.square:nth-of-type(5) {
  right: 10%;
  top: 7%;
}

.square:nth-of-type(6) {
  right: 2%;
  top: 35%;
}

.square:nth-of-type(7) {
  right: 9%;
  top: 60%;
}

.square:nth-of-type(8) {
  right: 0%;
  bottom: 5%;
}

/* triangle nth-of-type here */

.triangle:nth-of-type(1) {
  left: 5%;
  top: 2%;
}

.triangle:nth-of-type(2) {
  left: 8%;
  top: 25%;
}

.triangle:nth-of-type(3) {
  left: 3%;
  top: 60%;
}

.triangle:nth-of-type(4) {
  left: 10%;
  top: 90%;
}

.triangle:nth-of-type(5) {
  right: 10%;
  top: 7%;
}

.triangle:nth-of-type(6) {
  right: 2%;
  top: 35%;
}

.triangle:nth-of-type(7) {
  right: 9%;
  top: 60%;
}

.triangle:nth-of-type(8) {
  right: 0%;
  bottom: 5%;
}


/* heart nth-of-type here */

.heart:nth-of-type(1) {
  left: 5%;
  top: 2%;
}

.heart:nth-of-type(2) {
  left: 8%;
  top: 25%;
}

.heart:nth-of-type(3) {
  left: 3%;
  top: 60%;
}

.heart:nth-of-type(4) {
  left: 10%;
  top: 90%;
}

.heart:nth-of-type(5) {
  right: 10%;
  top: 7%;
}

.heart:nth-of-type(6) {
  right: 2%;
  top: 35%;
}

.heart:nth-of-type(7) {
  right: 9%;
  top: 60%;
}

.heart:nth-of-type(8) {
  right: 0%;
  bottom: 5%;
}

/* triangle-bottom-right nth-of-type here */

.triangle-bottom-right:nth-of-type(1) {
  left: 5%;
  top: 2%;
}

.triangle-bottom-right:nth-of-type(2) {
  left: 8%;
  top: 25%;
}

.triangle-bottom-right:nth-of-type(3) {
  left: 3%;
  top: 60%;
}

.triangle-bottom-right:nth-of-type(4) {
  left: 10%;
  top: 90%;
}

.triangle-bottom-right:nth-of-type(5) {
  right: 10%;
  top: 7%;
}

.triangle-bottom-right:nth-of-type(6) {
  right: 2%;
  top: 35%;
}

.triangle-bottom-right:nth-of-type(7) {
  right: 9%;
  top: 60%;
}

.triangle-bottom-right:nth-of-type(8) {
  right: 0%;
  bottom: 5%;
}

.triangle-bottom-right:nth-of-type(9) {
  right: 2%;
  bottom: 6%;
}



/* squiggle nth-of-type here */

.squiggle:nth-of-type(1) {
  left: 5%;
  top: 2%;
}

.squiggle:nth-of-type(2) {
  left: 8%;
  top: 25%;
}

.squiggle:nth-of-type(3) {
  left: 3%;
  top: 60%;
}

.squiggle:nth-of-type(4) {
  left: 10%;
  top: 90%;
}

.squiggle:nth-of-type(5) {
  right: 10%;
  top: 7%;
}

.squiggle:nth-of-type(6) {
  right: 2%;
  top: 35%;
}

.squiggle:nth-of-type(7) {
  right: 9%;
  top: 60%;
}

.squiggle:nth-of-type(8) {
  right: 0%;
  bottom: 5%;
}

.squiggle:nth-of-type(9) {
  right: 21%;
  bottom: 10%;
}
