body,
html {
  min-height: 100%;
}

/* we declare our variable inside a :root selector */
:root {
  /* give the variable a name and value (needs two -- in front) */
  /* --orange: #ff3c15; */
  --blue: #B7EEE2; 
}

*,
*:before,
*:after {
  cursor: url('../img/cursor-red.svg'), auto;
}

body {
  margin: 0;
  padding: 0;
  background: #FFDCD9; 
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 1.2px;
  color: #B7EEE2; 
  pointer-events: auto; 
}

body::-webkit-scrollbar {
  display: none; }

a {
  text-decoration: none;
  color: #414141;
  pointer-events: auto; 
}

a:hover {
  color: #000; 
  font-style: italic; 
}

a:hover, a:focus, a:visited, a:link, a:active {
  color: #fff;
  text-decoration: none; 
}

.visible {
  opacity: 1;
}

ul, li {
  list-style-type: none; 
}

/* ==== progress bar styling here ==== */
.bar-1,
.bar-3 {
  position: fixed;
  height: 8px;
  background-color: #B7EEE2;
  z-index: 900;
  width: 0%;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.18); }

.bar-2,
.bar-4 {
  position: fixed;
  width: 8px; 
  background-color: #FFB5AF; 
  z-index: 900;
  height: 0%;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.18); }

.bar-1 {
  top: 0;
  left: 0; }

.bar-2 {
  top: 0;
  right: 0; }

.bar-3 {
  bottom: 0;
  right: 0; }

.bar-4 {
  bottom: 0;
  left: 0; }


/* ==== container styling used on every section goes here ==== */
.section {
  min-height: 100vh;
  display: flex;
  position: relative;
}

.section-pad {
  padding-left: 5vw;
  padding-right: 5vw; 
}

.container {
  max-width: 810px;
  margin: auto; 
}

.logo {
  display: block;
  text-align: center;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 112px;
}

.logo-top {
  max-width: 200px;
}

/* ==== racquettes logo styling ==== */
.logo-wrapper {
  position: relative; 
  transform: translateX(100%) rotateZ(270deg);
  transform-origin: bottom left;
  left: -98%;
  bottom: -700px;
}


/* ==== moving text styling here ==== */
@keyframes introTop {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100vw);
  }
}

@keyframes introBottom {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100%);
  }
}

#introTop {
  height: 10vh;
  text-align: right;
  transform: translateX(-100%);
  -webkit-animation: introTop 30s linear infinite;
  animation: introTop 30s linear infinite;
}

/* ==== animations ==== */
#introTop h1 {
  height: 10vh;
  margin-top: 6vh;
}

#introMiddle {
  height: 10vh;
  transform: translateX(100vw);
  -webkit-animation: introBottom 30s linear infinite;
  animation: introBottom 30s linear infinite;
}

#introBottom {
  height: 10vh;
  text-align: right;
  transform: translateX(-100%);
  -webkit-animation: introTop 30s linear infinite;
  animation: introTop 30s linear infinite;
}

/* ==== outline text ==== */
.hero-outline-text h1 {
  font-family: 'Karla', sans-serif;
  font-size: 20vh;
  -webkit-text-stroke: 2.5px #fff;
  color: transparent; 
  fill: none;
  line-height: 0.8;
  margin-top: 20vh;
}

.hero-outline-text-green h1 {
  font-family: 'Karla', sans-serif;
  font-size: 20vh;
  -webkit-text-stroke: 2.5px #3bb714;;
  color: transparent; 
  fill: none;
  line-height: 0.8;
  margin-top: 20vh;
}

.hero-outline-text-blue h1 {
  font-family: 'Karla', sans-serif;
  font-size: 20vh;
  -webkit-text-stroke: 2.5px #0000ff;
  color: transparent; 
  fill: none;
  line-height: 0.8;
  margin-top: 20vh;
}






/* ==== hero section styling here ==== */

.logo-wrapper {
  position: relative;
}

.hero-heading {
  position: relative;
  display: inline-block; 
  top: -100px; 
}

.heading {
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
  font-family: 'HK-Grotesk-Bold', sans-serif;
  /* font-size: 110px; */
  font-size: 90px;
  line-height: 1;
}

.wave-underline {
  position: relative;
  display: inline-block;
  top: -70px;
  width: 100%;
}

.button {
  position: relative;
  top: -200px;
  display: inline-block;
  background-color: var(--blue);
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: none;
  padding: 24px 30px;
  font-family: 'Karla', sans-serif;
  font-size: 40px;
}


/* ==== social links here ==== */
.menu, .menu-item {
  position: fixed;
  font-size: 3.25vw; 
  pointer-events: auto;
  color: #fff;
  padding-bottom: 2px;
  mix-blend-mode: difference; 
}

.menu, .email-link {
  bottom: 40px;
  left: 30px; 
}

.menu, .instagram-link {
  top: 40px; 
  right: 30px; 
}

.menu, .facebook-link {
  bottom: 40px; 
  right: 30px; 
}



/* ==== sec blocks here ==== */
.sec-1 {
  background-color: #3363A7; 
  border: 1px solid #000; 
}

.sec-2 {
  background-color: #FFB5AF;   
}

.sec-3 {
  background-color: #B7EEE2;  
}

.sec-4 {
  background-color: #000;  
}

.sec-5 {
  background-color: #FFDCD9; 
}

.sec-6 {
  background-color: rgb(15, 127, 34);
}

.sec {
  position: relative;
  text-align: center;
  overflow: hidden; 
}

.sec .container {
  position: relative;
  z-index: 2; 
}







/* ==== sec one styling here ==== */
.sec-heading__one,
.sec-heading__four {
  position: relative;
  display: inline-block;
  top: -200px;
}

.sec-heading {
  position: relative;
  display: inline-block;
  top: -300px;
}

.sec-heading__two {
  position: relative;
  display: inline-block;
  top: -150px;
}
 
.sec-1-text,
.sec-4-text {
  position: relative; 
  padding: 2% 0%; 
  top: -100px; 
}

.sec-1-text p,
.sec-4-text p {
  display: inline-block;
  font-size: 30px;
  line-height: 1.2; 
  justify-content: space-between; 
}


/* ==== sec one image styling here ==== */

.racquette__one h3,
.racquette__two h3 {
  font-size: 4vw;
  line-height: 1.2;
  font-weight: 400;
  border: 1px solid #fff;
  width: 300px;
  height: auto;
  margin: 0 0; 
}

.racquette__one h3 {
  position: relative;
  right: -120px;
  top: -200px;
}


.racquette__one {
  position: relative;
  top: 100px !important;
  left: -50px;
}

#table-tennis {
  position: relative;
  max-width: 100px;
  max-height: 200px;
  top: -250px;
  left: -250px;
}



.racquette__two {
  position: relative;
  top: -45px !important;
  left: -80px;
  width: 300px;
  height: 100px;
}

#badminton {
  position: relative;
  max-width: 200px;
  max-height: 300px;
  /* top: -150px;
  left: -250px; */

}



/* ==== scrolling neatness here ==== */
.scroll-to {
  position: absolute;
  left: 50%;
  bottom: 3vh;
	width: 64px;
  height: 32px;
  background-image: url(img/down-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
    /* this centers the arrow */
  transform: translateX(-50%);
}

.scroll-to-intro {
  background-image: url(img/down-arrow-light.svg);
}



/* ==== sec four here ==== */



/* ==== media queries goe here ==== */
@media (max-width: 800px)